* {
    margin:0px;
    padding: 0px;
}

#wrapper {

    width: 100%;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 200px;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.logo {
    flex-grow: 1;
    align-items: center;
    display: flex;
    margin-left: 20px;
    color: red;
}


.menu-right {
    display: flex;
    align-items: center;
    color: gray;
}

.menu-item {
    margin-right: 20px;

}




.content {
    width: 100%;
    height: 400px;
    background-color: #6c3;
    float: left;
}


.footer {
    width: 100%;
    height: 200px;
    background-color: #A6ADB4;
    clear:both;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.left,.center,.right{
    flex-grow: 1;
}
 .div-flex {
     display: flex;
     flex-direction: column;
     margin-right: 20px;

     
 }

 .left {
     display: flex;
     flex-direction: row;
     justify-content: center;
 }

 .item {
     margin-bottom: 10px;
 }

 
     


 .input-email{
    margin-bottom: 20px;
    width: 300px;
    height: 50px;
    outline: none;
    border-radius: 6px;
    padding: 0 10px;
    background-color: #A6ADB4;
    border: 1px solid white;
    color: white;
}

.input-email::placeholder {
    color: white;
}

 

 .ic{
     margin-right: 10px;
     
     
   
 }

 .input {
    position: relative;
    width: max-content;

}

.ic-email{
    position: absolute;
    right: 17px;
    top: 16px;
    
}
 